<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>MicroServices | IBM</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css"   href="css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="content"> 
      				<div id="cadastro">
					<form autocomplete="off" method="post" action="/item/add"> 
					  <h4>Cadastre-se para receber novidades sobre a IBM</h4>           
					  <p> 
					    <label>Nome completo
					    <input type="text" name="nome" id="nome" placeholder="Seu nome completo" required> </label>
					  </p>
					  <p> 
					    <label>E-mail
							      <input type="text" name="email" id="email" placeholder="Seu e-mail" required> </label>
					  </p>          
					  <p> 
					    <label>Área de interesse
							      <input type="text" name="interesse" id="interesse" placeholder="Tecnologia, comercial, serviços..." required> </label>
					  </p>          
					  <p> 
					    <input type="submit" value="Cadastrar"/> 
					  </p>          
					  <div class="text-center">
					    <small> 
					      <a href="/cadastrados">Usuários cadastrados</a>
					    </small>	
					  </div>
					</form>
				 </div>
    			</div>
		</div>
	</body>
</html>
